*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgcolor{
    height: 100vh;
    width: 100%;
    background-color: gray;
}
.redbg{
    height: 100vh;
    width: 100%;
    background-color: red;
}
.Navbar{
    width: 100%;
    height: 70px;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hamburger{
    display: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.hamburger .bars{
    
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    display: block;
}
.Menu{
    display: flex;
    gap: 20px;
}
.Menu li a{
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
    text-decoration: none;
}
@media screen and (max-width: 700px){
    .hamburger{
        display: block;
    }
}